body{
    background-color: rgb(218, 49, 133);
}

table,th,td{
    border: 2px solid;
    border-collapse: collapse;
    text-align: center;
    padding: 5px;
    margin: 100px 150px;
    background-color: rgb(196, 137, 70);
    color: aliceblue;
}
.img{
    height: 100px;
    width: 100px;
}
td{
    width: 100px;
}